{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .post {
            width: 80%;
            margin-left: 10%;
        }
        .dates {
            display: flex;
            justify-content: space-between;
        }
        .comments {
            margin-top: 20px;
        }
        .comment {
            background: #242b2e;
            color: #fff;
            padding: 10px;
            margin-bottom: 20px;
        }
        .post > img {
            width: 50%;
        }
    </style>
    <div class="post">
        <img src="/media/{{ products.img }}"  alt="">
        <h5>{{ products.author }}</h5>
        <h1>{{ products.title }}</h1>
        <h4>{{ products.description }}</h4>
        <h4>Rate: {{ products.rate }}</h4>
        <div class="dates">
            <h5>{{ products.created_date }}</h5>
            <h5>{{ products.modified_date }}</h5>
        </div>
    <div class='comments'>
        <form action="/products/{{ products.id }}/" method="post">
            {% csrf_token %}
            {{ forms.as_p }}
            <input type="submit" value="add comment">
        </form>


        {% for review in reviews %}
            <div class="comment">
                <h5>{{ review.author }}</h5>
                <h6>{{ review.text }}</h6>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}